<div class="brief">
    <div class="ep-info-pre clearfix">
        <div class="clearfix">
            <div class="ep-info-left">
                <div class="ep-info-image">
                    <img v-bind:src="group_cover" alt="OVERLORD Ⅲ">
                </div>
            </div>
            <div class="ep-info-center">
                <div class="ep-info-title">{{group_title}}</div>
                <div class="ep-info-data clearfix">
                    <div class="play">
                        <span>{{hot}}次观看</span>
                    </div>
                    <div class="fav">
                        <span>{{mark}}追番</span>
                    </div>
                </div>
                <div class="ep-info-state">{{update_time}}</div>
                <div class="ep-profile clearfix">
                    <span>{{brief}}</span>
                    <i></i>
                </div>
            </div>
            <div class="media-info-right">
                <div class="media-score">
                    <span class="score">{{score}}</span><span>分</span>
                </div>
                <div class="review-count">{{commit_num}}人</div>
            </div>
        </div>
        <div class="media-option-tab">
            <div class="btn-favorite">
                <i></i>
                <span>追番</span>
            </div>
            <div class="btn-download">
                <i></i>
                <span>缓存</span>
            </div>
            <div class="btn-share">
                <i></i>
                <span>分享</span>
            </div>
        </div>
    </div>
</div>