<div class="comment">
    <div class="b-comm-wrap">
        <h4>评论（21731）</h4>
        <ul class="b-comment-list">
            <li class="b-comment">
                <div class="b-face">
                    <a href="//space.bilibili.com/198445129">
                        <img src="{__HOST_ROOT__}common/img/398aecbadb6e4f10009eac6a94aecb911dc12590.jpg" alt="">
                    </a>
                </div>
                <div class="b-body">
                    <div class="comm-info clearfix">
                        <span class="u-name">Sinon丶东南</span>
                        <span class="u-time">3天前</span>
                    </div>
                    <div class="comm-content">依我看来，第二季和第三季的间隔只有半年，明明可以放在一起播出却偏要拆成两季，岂不是多此一举？但我知道，以我粗鄙的眼光是无法窥探安玆大人的智慧的。因此我认为，安玆大人一定是从多方深思熟虑。如果只有一季的话，就只能霸权一个季度，分成两季，就能让更多人知道安兹乌尔恭的强大。但我知道事情远远没有这么简单，安玆大人一定是了解了bilibilimoe，有什么比当上燃王更能传播名声的呢?一次的燃王很容易被人遗忘，因此就卡在了七月这个时间点，让明年的bmoe还能登场。不知道以上是不是安玆大人的观点。如果有所出入，对于窥探到安玆大人无限智慧其中冰山一角的我来说，真是不胜荣幸。</div>
                </div>
            </li>
            <li class="b-comment">
                <div class="b-face">
                    <a href="//space.bilibili.com/9024132">
                        <img src="{__HOST_ROOT__}common/img/bba0351ee12e972366034eebf3cf7a66640fffb3.jpg" alt="">
                    </a>
                </div>
                <div class="b-body">
                    <div class="comm-info clearfix">
                        <span class="u-name">明石海星</span>
                        <span class="u-time">3天前</span>
                    </div>
                    <div class="comm-content">大家好，本集安兹sama终于久违的出来了，下面是本集的科普内容_(:з」∠)_

                        上集中安莉来到冒险者公会说委托时，在安莉睡着期间，安兹询问了前台小姐安莉的委托，这也是为什么前台小姐一改之前的态度。

                        由于卡恩村出了这么大事，安兹以为情报网出了问题，因此找狼妹谈话，上集非常愉悦的狼妹吃了瘪，题外话，安兹是非常生气的，以下是小说中的描写

                        “被愤怒支配的安兹任著情绪发出的怒吼响彻房间。其他人彷佛被雷打到一般，安兹感觉到有股力量在抑制他的情绪，但压抑了一波后一波又起，无法完全止住愤怒。”
                        不过冷静后，安兹觉得是自己用人不当的错误。
                        顺便一提，雅尔贝德由于第一集中的举动正在关紧闭，小迪出差中。

                        托布大森林的生态
                        在很久以前，托布大森林被 暗精灵 所支配，但由于魔树赛特奎艾的出现，暗精灵不得不迁移出这片森林。

                        魔树被封印后，被称为三大魔物的强大魔物各自圈定领地。（关于魔树详情请看广播剧av13275484，可以说是目前最有排面的魔物，全体守护者出动讨伐）

                        占据了东、西、南三个方向，形成鼎立之势
                        东之巨人，西之魔蛇，南之森林贤王也就是仓助 。（虽然仓助完全不知道另外两人的存在）

                        大森林北侧的沼泽中似乎居住着被称为 双子魔女 的存在，但并非是统治者，由于魔树就是被封印在北方，也可以说是统治者吧。

                        不过这场骚动完全可以说是安兹间接引起的，由于安兹收服仓助，再加上安兹派亚乌拉在森林内建造建筑物清除了一部分魔物平衡被打破，东之巨人原本打算扩大势力范围，但西之魔蛇认为那些建筑物的之人更具有威胁，因此东西两方统治者联合准备共同对抗建筑物的统治者也就是安兹。

                        另外，特别是特别喜欢骨王的可以点我的头像查看个人名片。
                        然后骨王参加了B萌人气比赛，希望各位无上至尊的仆人们能为骨王献上你们的票，还有点一下追踪骨王。后续科普在回复里面。
                    </div>
                </div>
            </li>
            <li class="b-comment">
                <div class="b-face">
                    <a href="//space.bilibili.com/15792230">
                        <img src="{__HOST_ROOT__}common/img/3ce7fa615b3048a29f05a17ef8f06b0c9c99caab.jpg" alt="">
                    </a>
                </div>
                <div class="b-body">
                    <div class="comm-info clearfix">
                        <span class="u-name">暗影之刻</span>
                        <span class="u-time">3天前</span>
                    </div>
                    <div class="comm-content">我来介绍一下安兹的战斗吧
                        首先是平a，安兹是100级满级的法师，即使物理攻击再弱对付20+级的食人妖头领也是随便吊打的。
                        然后是招牌技能“绝望灵气”
                        1级是恐惧
                        2级是恐慌（1级2级都是有让人强烈想离开施法者的欲望）
                        3级是混乱（用魔法可以治愈或者需要很长时间）
                        4级是疯狂（必须用魔法治愈，否则无法解除）
                        5级是即死
                        所以安兹用的5级技能直接放倒了一片人。
                    </div>
                </div>
            </li>
            <li class="b-comment"><div class="b-face">
                <a href="//space.bilibili.com/35855316">
                    <img src="{__HOST_ROOT__}common/img/f51eb105a18ca408c39439d6e73e444eda2419b5.jpg" alt="">
                </a>
            </div>
                <div class="b-body">
                    <div class="comm-info clearfix">
                        <span class="u-name">DERTF</span>
                        <span class="u-time">3天前</span>
                    </div>
                    <div class="comm-content">
                        同样是二十四分钟，你看别的番，感觉像看了一小时。
                        你看OVERLORD，感觉不到五分钟。
                        这就是相对论。
                        ——爱因斯坦</div>
                </div>
            </li>
            <li class="b-comment">
                <div class="b-face">
                    <a href="//space.bilibili.com/9592996">
                        <img src="{__HOST_ROOT__}common/img/504f2532432bd084e62188532c4c4321f046b2f0.jpg" alt="">
                    </a>
                </div>
                <div class="b-body">
                    <div class="comm-info clearfix">
                        <span class="u-name">骑骆驼的红小黑</span>
                        <span class="u-time">3天前</span>
                    </div>
                    <div class="comm-content">快乐24分钟，痛苦168小时</div>
                </div>
            </li>
        </ul>
    </div>
</div>
