<div class="nav">
    <div class="first-content">
        <div class="page-container">
            <div class="scroll-container">
                <a class="tag">
                    <p>首页</p>
                </a>
                <a class="tag selected">
                    <p>动漫</p>
                </a>
                <a class="tag">
                    <p>里番</p>
                </a>
            </div>
        </div>
    </div>
    <div class="second-content">
        <div class="page-container">
            <div class="scroll-container">
                <a class="tag selected">
                    <p>推荐</p>
                </a>
            </div>
        </div>
    </div>
</div>