<div class="part-list">
    <div class="ep-list-pre-wrapper">
        <div class="ep-list-pre-header">
            <span class="ep-list-pre-title">选集</span>
            <i>更新至第{{count}}话</i>
        </div>
        <div class="ep-list-pre-body">
            <div class="slider-wrapper">
                <div class="slider-content">
                    <ul class="ep-list-pre-container no-wrap">
                        <li v-for="(item,key) in list" class="episode-item item-lg"
                            v-bind:class="{cur:item.part_num===current_part}">
                            <a v-on:click="changePart(key)" href="javascript:;" class="ep-info-wrapper">
                                <h4>第{{ item.part_num }}话</h4>
                                <p>{{ item.sub_title }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="slider-contro clearfix">
                    <div class="contro-item" style="display: none; left: 660px;"></div>
                    <span class="slider-prev" style="display:none;"></span>
                    <i class="slider-prev-mask" style="display:none;"></i>
                    <span class="slider-next disabled" style="display:none;"></span>
                    <i class="slider-next-mask" style="display:none;"></i>
                </div>
            </div>
        </div>
    </div>
</div>