<div class="recommend">
    <div class="recom-wrapper">
        <div class="recom-header">
            <span class="recom-title">更多推荐</span>
        </div>
        <div class="recom-body">
            <ul class="recom-list clearfix">
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/1a7403f11fc24c06ae8ed8323aecab8b8b26d2cd.png"
                                 alt="后街女孩">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">后街女孩</div>
                    </a>
                </li>
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/f5d5f51b941c01f8b90b361b412dc75ecc2608d3.png"
                                 alt="工作细胞">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">工作细胞</div>
                    </a>
                </li>
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/0f11dfac18d744518669b2d211263f03d41d619c.png"
                                 alt="Angels of Death">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">Angels of Death</div>
                    </a>
                </li>
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/1cb9e69812d7227fdb0bf5bf4eb45662fef8ea60.jpg"
                                 alt="邪神与厨二病少女">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">邪神与厨二病少女</div>
                    </a>
                </li>
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/272e35317d38c9cbfb78fe238e83d8462acb2956.png"
                                 alt="异界少女召唤术">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">异界少女召唤术</div>
                    </a>
                </li>
                <li class="recom-item">
                    <a href="javascript:;">
                        <div class="recom-item-image">
                            <img src="{__HOST_ROOT__}common/img/1ae7312cddb0cd5cf3eb985904f0a9cb85f897aa.png"
                                 alt="我的英雄学院 第三季">
                            <div class="recom-item-follow-bg" style="display: none;">
                                <div class="recom-item-follow">-人追番</div>
                            </div>
                        </div>
                        <div class="recom-item-title">我的英雄学院 第三季</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>