<!DOCTYPE html>
<html lang="en">
<head>
    <title>CrxzyVideo</title>
    <link rel="stylesheet" href="{__HOST_ROOT__}common/css/civii.css">
    <script src="{__HOST_ROOT__}common/js/jquery-3.3.1.min.js"></script>
    <script src="{__HOST_ROOT__}common/js/iscroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta content="user-scalable=0" name="viewport" />
</head>
<body>
<main>
    <div class="partition">
    ${header}
    ${nav}
    __CONTENT__
    ${footer}
    </div>
</main>
</body>
</html>