<div class="rule"></div>
<div class="content">
    <div class="title">
        <p>所有视频</p>
    </div>
    <div class="video-nav">
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
        <a>
            <div class="image-container">
                <img src="{__HOST_ROOT__}common/img/tv.png" class="tv"/>
                <img class="cover"/>
            </div>
            <div class="title">
                <p>test</p>
            </div>
        </a>
    </div>
    <div class="load-more">
        <p>
            点击加载更多
        </p>
    </div>
</div>
